APP_NAME = ERP
APP_ENV = development

DATABASE_URL = postgresql+asyncpg://postgres:postgres@localhost:5432/erp
ALEMBIC_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/erp

REDIS_URL = redis://localhost:6379

API_V1_PREFIX = /api/v1